@charset "utf-8";
/* CSS Document */
body {
	border:0;
	margin:0;
	padding:0;
	width:949px;
	height:720px;
}
#content {
	margin:0;
	padding:0;
	width:949px;
	height:720px;
}
#table {
	margin:10px;
	width:929px;
	height:700px;
}
#tr_menu {
	width:909px;
	height:20px;
	text-align:center;
	background-color:#C93;
	padding:20px 10px;
}
.tr {
	width:909px;
	height:30px;
	padding:35px 10px;
	text-align:center;
	background-color:#C93;
	border-top:#999 solid 1px;	
}
#td_01 {
	width:90px;
	height:auto;
	float:left;
}
#td_02 {
	width:80px;
	height:auto;
	float:left;
}
#td_03 {
	width:80px;
	height:auto;
	float:left;
}
#td_04 {
	width:80px;
	height:auto;
	float:left;
}
#td_05 {
	width:160px;
	height:auto;
	float:left;
}
#td_06 {
	width:80px;
	height:auto;
	float:left;
}
#td_07 {
	width:100px;
	height:auto;
	float:left;
}
#td_08 {
	width:150px;
	height:auto;
	float:left;
}
#td_09 {
	width:89px;
	height:auto;
	float:left;
}
.td_01 {
	width:90px;
	height:auto;
	float:left;
}
.td_02 {
	width:80px;
	height:auto;
	float:left;
}
.td_03 {
	width:80px;
	height:auto;
	float:left;
}
.td_04 {
	width:80px;
	height:auto;
	float:left;
}
.td_05 {
	width:160px;
	height:auto;
	float:left;
}
.td_06 {
	width:80px;
	height:auto;
	float:left;
}
.td_07 {
	width:100px;
	height:auto;
	float:left;
}
.td_08 {
	width:150px;
	height:auto;
	float:left;
}
.td_09 {
	width:89px;
	height:auto;
	float:left;
}

